# Dependencies
node_modules/
mobile/node_modules/

# Environment variables
.env
.env.local

# Uploads
uploads/

# Logs
logs
*.log
npm-debug.log*

mobile/android/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Build
build/
dist/

# Misc
*.pem
.cache/

